.heading-border{
    position: relative;
    h2{
        text-align: center;
        background-color: $redColor;
        margin: 40px auto;
        border-radius: 15px;
        max-width: 400px;
        padding: 10px 15px;
        color: #FFf;
        @media #{$maxMobile}{
            max-width: 300px;
        }
        &:before{
            content: '';
            width: 100%;
            position: absolute;
            height: 1.5px;
            background-color: $grayColor;
            left: 0;
            top: 50%;
            z-index: -1;
        }
    }

}